* {
    box-sizing: border-box;
  }

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}  

.header {
  width: 100%;
  height: 80px;
  background: #c9e0ca;
  position: fixed;
}

.logo {
  float: left;
  display: flex;
  margin-left: 20px;
}

.logo-text {
  margin-left: 10px;
  text-decoration: none;
}

.menu {
  float: right;
}

.nav-horizontal {
  display: flex;
  flex-direction: row;
  list-style: none;

}

.link {
  text-decoration: none;
  padding: 15px 20px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1 url("../images/banner.png") no-repeat center;
}

.logo-img {
  width: 100px;
  height: 100px;
}
.hero_title {
  color: #ffffff;
}
.hero_small-text {
  color: #ffffff;
  margin-top: -20px;
}

.advantages {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-color: #ece7eb;
}

.advantages__content{
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.advantages__content-text {
  font-size: 20px;
  text-align: justify;
  margin-top: -30px;
}

.about {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-color: #ece7eb;
}

.about__content {
  padding-left: 50px;
  padding-right: 20px;
}

.about__text {
  font-size: 20px;
}

.article-name {
  text-align: center;
}
.rest {
  display: flex;
  background-color: #f6f8809a;
}

.rest__content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 20px;

}

.rest__content-text {
  font-size: 20px;
}
.footer {
  height: 150px;
  background: #3a9f43;
  box-sizing: border-box;
  color: #fff;
  font-size: 3em;
  line-height: 2em;
}


