* {
    box-sizing: border-box;
  }


.main-content {
  height: 400px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}  

.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
}

.logo {
  float: left;
  display: flex;
  margin-left: 20px;
}
.logo-img {
  width: 65px;
  height: 65px;
}
.logo-text {
  margin-left: 10px;
  text-decoration: none;
}

.menu {
  float: right;
}

.nav-horizontal {
  display: flex;
  flex-direction: row;
  list-style: none;

}

.link {
  text-decoration: none;
  padding: 15px 20px;
}

.footer {
  height: 150px;
  background: #3a9f43;
  box-sizing: border-box;
  color: #fff;
  font-size: 3em;
  line-height: 2em;
}


