body {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #303846;
    margin: auto;
    background-color: #f7f7f7;
}

.di-f {
  display: flex;
}

.fd-colum {
  flex-direction: column;
}
.fd-row {
  flex-direction: row;
}

.w-100 {
  width: 100%;
}
.jc-sb {
  justify-content: space-between;
}
.td-none {
  text-decoration: none;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.h-100vh {
  height: 100vh;
}
.header {
  height: 80px;
  background: #ffffff;
  position: fixed;
}

.logo {
  float: left;
  margin-left: 20px;
}

.logo-text {
  margin-left: 10px;
  color: #303846;
}

.menu {
  float: right;
}

.menu_horizontal {
  list-style: none;
}

.link {
  padding: 15px 20px;
  color: #303846;
}
.hero {
  color: #ffffff;
  height: 100vh;
  background: url("../images/banner.png") center;
}

.logo-img {
  width: 100px;
}

.hero_small-text {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  border-color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
}
.button__link {
  text-decoration: none;
  color: #ffffff;
}


.advantages__content{
  width: 30%;
  padding: 50px;
}


.about__content {
  padding-left: 50px;
  padding-right: 20px;
}


.article-name {
  text-align: center;
}

.rest__content {
  padding-left: 50px;
  padding-right: 20px;
}
.emty {
  height: 100px;
}
.section__form {
  width: 500px;
  margin: auto;
}
.fieldset {
  border: 2px double #31a6bb;
  border-radius: 6px;
  color: #31a6bb;
  margin-bottom: 20px;
}
.fieldset__p {
  display: flex;
  justify-content: flex-end;
  padding: .3em;
}

.legend {
  font-weight: bold;
}

.fieldset__p > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.select {
  width: 45%;
}
.button-form {
  margin-left: 430px;
  font-size: 20px;
  color: #31a6bb;
  border-color: #31a6bb;
  border-radius: 5px;
  margin-bottom: 50px;
}
.footer {
  padding: 15px;
  height: 80px;
  background:#303846;
  color: #ffffff;
}
.footer__logo {
  display: inline-flex;
}
.footer__logo__text {
  margin-left: 15px;
  color: #ffffff;
}
